{#
generates a valid git commit message for an Update

note that commit messages should be well-formed (title line, empty line, body)
to make sure the parsed output of this can be used in PR templates

variables exposed:
  - up: the settled Update instance
#}
{%- set ctitle -%}
auto-update: {{ up.srcModule }} -> {{ up.toVersion }}
{%- endset %}
{%- set message -%}
Dependency `{{ up.srcModule }}` from {{ up.srcRepository.type() }} repository
{{ up.srcRepository.name }} was updated to version `{{ up.toVersion }}`.
{%- endset %}
{{ ctitle | truncate(70) }}

{{ message | wrap(length=70) }}

Source-Repository-Type: {{ up.srcRepository.type() }}
Source-Repository: {{ up.srcRepository.remote }}
Source-Module: {{ up.srcModule }}
Source-Module-Type: {{ up.srcRepository.getModule(up.srcModule).type }}
Destination-Module: {{ up.destModule }}
Destination-Module-Type: {{ up.destRepository.getModule(up.destModule).type }}
